{
    "machdep": "gcc_x86_64",
    "compilation_cmd": " -I../lib -Ilib ",
    "files": [
        "../lib/common/entropy_common.c",
        "../lib/common/error_private.c",
        "../lib/common/fse_decompress.c",
        "../lib/common/xxhash.c",
        "../lib/common/zstd_common.c",
        "../lib/compress/zstd_compress.c",
        "../lib/compress/zstd_double_fast.c",
        "../lib/compress/zstd_ldm.c",
        "../lib/compress/zstdmt_compress.c",
        "../lib/decompress/huf_decompress.c",
        "../lib/decompress/zstd_ddict.c",
        "../lib/decompress/zstd_decompress_block.c",
        "../lib/decompress/zstd_decompress.c"
    ],
    "val-malloc-functions": "malloc_orDie,mallocAndLoadFile_orDie,ZSTD_malloc"
}
